* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(112, 99, 121);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 25px;
}

.title h1 {
  background: red;
  margin: 1.6rem;
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}
